@import "./colorSchema";

.changePassword-container {
    padding: 20px;

    .changePassword-header {
        font-family: 'Times New Roman',
            Times,
            serif;
    }

    .changePassword-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: white;
        border-radius: 10px;
        box-shadow: 8px 10px 10px 0px rgba(0, 0, 0, 0.64);
        width: 90%;
        margin: auto;


        .changePassword-area {
            width: 57%;
            padding: 30px 0;
            margin-right: 50px;

            .changePassword-label {
                font-family: 'Times New Roman',
                    Times,
                    serif;
                font-size: 22px;
                margin: 5px 0px;
            }

            .changePassword-formControl {
                width: 100%;

                .changePassword-input {
                    border-radius: 10px;
                    padding: 0px 10px;
                    width: 100%;
                    border: 1px solid black;

                    &:hover,
                    &:active,
                    &:focus {
                        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.64);
                    }
                }

                .MuiInput-underline:before,
                .MuiInput-underline:after {
                    border-bottom: none !important;
                }

                .changePassword-eyeIcon {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    right: 15px;
                    top: 5px;
                }

                .helperTextNoMatch {
                    color: $primary-red;
                }

                .helperTextYes {
                    color: $primary-green;
                }
            }

            .changePassword-btn {
                border-radius: 10px;
                width: 60%;
                color: white;
                padding: 2px;
                border: none;
                display: block;
                margin: 10px auto;
            }

            .valid {
                background: $primary-navy-blue;

                &:hover,
                &:active,
                &:focus {
                    background: $secondary-navy-blue;
                    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.64);
                }
            }

            .notValid {
                background: #001829db;
            }
        }

        .changePassword-restrictions {
            width: 20%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;

            .changePasswordIcon {
                width: 80px;
                height: 80px;
                margin: -20px auto 10px auto;
            }

            h3 {
                font-size: 16px;
                font-weight: bold;
            }

            .newpassword-restrictions {
                font-size: 14px;
                letter-spacing: 0.04em;
                color: $primary-red;
            }

            .newpassword-restrictionsValid {
                font-size: 14px;
                letter-spacing: 0.04em;
                color: $primary-green;
                text-decoration: line-through;
            }
        }
    }
}

@media all and (max-width: 700px) {
    .changePassword-container {
        .changePassword-inner-container {
            flex-direction: column-reverse;
            align-content: center;
            width: 95%;
            margin: auto;
            padding: 30px 20px 0px 20px;

            .changePassword-area {
                width: 90%;
                margin-right: 0px;
                margin: auto;

                .changePassword-label {
                    font-size: 18px;
                }

                .changePassword-formControl {
                    .changePassword-input {
                        padding: 0px 10px;
                        width: 100%;
                    }
                }
            }

            .changePassword-restrictions {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;

                .changePasswordIcon {
                    width: 80px;
                    height: 80px;
                    margin: 0px auto 10px auto;
                }

                h3 {
                    font-size: 16px;
                    font-weight: bold;
                }

                .newpassword-restrictions {
                    font-size: 14px;
                    letter-spacing: 0.04em;
                    color: $primary-red;
                }

                .newpassword-restrictionsValid {
                    font-size: 14px;
                    letter-spacing: 0.04em;
                    color: $primary-green;
                    text-decoration: line-through;
                }
            }
        }
    }

}