.course-slots-container{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 150px;
    top: 125px;
    height: 75%;
    width: 75%;
}

.courses-dropdown{
    position:relative;
    left: 20px;
    top:20px;
}

// .course-slots-button{
//     margin: 3px;
//     background-color: "#0087a2";
//     color: "white";
//     left: "10px";
// }